<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sage -->
      <package
            uri="urn:org.nasdanika.sage"
            class="org.nasdanika.sage.SagePackage"
            genModel="model/sage.genmodel"/>
   </extension>

</plugin>
